body{
	background-image: url('../images/w.jpg');
	background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header{
	margin-bottom: 50px;
}

.list__item{
	width: 300px;
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
}

.list__image{
	width: 150px;
	height: 150px;
}